*.iml
.google
.idea
.gradle
/app/.externalNativeBuild
/app/.cxx
/app/build
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle/wrapper/gradle-wrapper.jar
